  body {
    background: #fff0f6;
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    padding: 40px;
    margin: 0;
  }

  .container {
    background: white;
    border-radius: 12px;
    padding: 30px 50px;
    box-sizing: border-box;
    width: 400px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0,0,0,0.05);
  }

  h2 {
    font-family: 'Press Start 2P', cursive;
    font-size: 14px;
    margin-bottom: 30px;
    font-weight: normal;
  }

  .category-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
  }

  .category-name {
    font-weight: 700;
    font-size: 16px;
    color: #b0b0b0;
    flex: 1;
    text-align: left;
  }

  .btn-guardar {
    background: #ff7997;
    border: none;
    border-radius: 15px;
    padding: 8px 15px;
    color: black;
    font-size: 12px;
    font-style: italic;
    font-weight: 900;
    cursor: pointer;
    margin-right: 10px;
    width: 80px;
  }
  
  .btn-eliminar {
    background: #f20038;
    border: none;
    border-radius: 15px;
    padding: 8px 15px;
    color: white;
    font-size: 12px;
    font-weight: 900;
    cursor: pointer;
    width: 80px;
  }

  .add-category {
    background: #ff7997;
    border-radius: 15px;
    border: none;
    padding: 12px 25px;
    font-family: 'Press Start 2P', cursive;
    font-size: 12px;
    color: white;
    font-weight: 400;
    letter-spacing: 1px;
    cursor: pointer;
    margin-top: 30px;
    width: 100%;
  }